<article class="post">
    <div class="title">
        <a href="{{title}}">{{title}}</a>
    </div>
    <div class="meta">
        {{post_text}} by {{user.username}} on
        {{created_at}}
        <br>
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</article>